// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$light-gray: #F4F4F4;
$gray: #0E0000;
$dark-gray: #495057;
$black: #000000;
$white: #FFFFFF;
$white-transparent: rgba(255, 255, 255, 0.8);
$turquoise: #0AEAE4;
$dark-turquoise: #02DBD4;
$fuscia: #EE24DE;
$yellow: #FFBC42;
$yellow-transparent: rgba(255, 188, 66, 0.9);
$raspberry: #D81159;
$raspberry-transparent: rgba(216, 17, 89, 0.9);


