.expressions-all {
  // display: flex;
  text-align: center;
  padding-bottom: 40px;
}



.expressions-all h2 {
  font-size: 22px;
  padding-bottom: 16px;
}

.expressions {
  background-color: $white;
  padding: 30px;
  // margin: 10px;
}

.expressions h3 {
  font-size: 16px;
}

.expressions p {
  font-size: 14px;
  font-weight: lighter;
}
