// Specific CSS for your home-page
.home-links {
  height: 100vh;
  background: url("https://res.cloudinary.com/fannylikescoffee/image/upload/v1587315979/micheile-henderson-t05q7TZObzc-unsplash_zqtzvu.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  text-decoration: none;
}
