<!-- <div class="recipe-header">
  <h1 class="recipe-title">Poster une Recette</h1>
</div>
<div class="form-container">
  <div class="recipe-form">
    <%#= render "form" %>
  </div>
</div> -->


<div class="recipe-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)), url(https://res.cloudinary.com/fannylikescoffee/image/upload/v1587315979/micheile-henderson-t05q7TZObzc-unsplash_zqtzvu.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="form-recipe">
          <h2>Poster une nouvelle recette</h2>
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
</div>
