<%= content_for :meta_title, "Expressions Varennaises" %>

<div class="recipe-header">
  <h1 class="recipe-title">Expressions Familiale</h1>
</div>
<div class="container">
  <div class="expressions-all">
    <div class="expressions varennes">
      <h2>Expressions Varennaises</h2>
      <div>
        <h3>Les invités ça fait toujours plaisir</h3>
        <p>"Si c'est pas quand ils arrivent, c'est quand ils repartent!"</p>
      </div>
      <div>
        <h3>Briques à la sauce cailloux = pas grand chose à manger</h3>
        <p>"Qu'est ce qu'on mange à midi?"</p>
        <p>"Des briques à la sauce cailloux."</p>
      </div>
      <div>
        <h3>Malheureux/Malheureuse</h3>
        <p>"Tais-toi, malheureuse!"</p>
      </div>
      <div>
        <h3>Charogne = individu ignoble</h3>
        <p>"Oh, quelle charogne, celui-là!"</p>
      </div>
      <div>
        <h3>Plummepattes = personne naïve, incompétente</h3>
        <p>"Qu'est ce que tu crois? Tu n'as pas à faire à plummepattes!"</p>
      </div>
      <div>
        <h3>Sagouiller = salir, pourrir</h3>
        <p>"Oh la la, il va me sagouiller mon évier!"</p>
      </div>
      <div>
        <h3>Gueumer = trop cuire, brûler, accrôcher à la poële</h3>
        <p>"Attention, ça commence à gueumer!"</p>
      </div>
      <div>
        <h3>Vains Dieux = juron favori de Papy Gaullot</h3>
        <p>"La porte, Vains Dieux!"</p>
      </div>
      <div>
        <h3>Chichemeflute = m*****</h3>
        <p>"Alors ça, c'est de la chichemeflute!"</p>
      </div>
      <div>
        <h3>Houppelande =long manteau ou tout autre vêtement couvrant</h3>
        <p>"J’ai l’air d’une folle avec ma houppelande!"</p>
      </div>
      <div>
        <h3>Antion = personne maladroite</h3>
        <p>"Quel antion! (ma tante genguon!)"</p>
      </div>
      <div>
        <h3>L'échelle du pâté</h3>
        <p>"T'es à combien, sur l'échelle du pâté?" </p>
      </div>
      <div>
        <h3>Perdre la boule</h3>
        <p>"Ma parole, l'Fredo il a perdu la boule!"</p>
      </div>
      <div>
        <h3>Asinus asinum fricat = L'âne frotte l'âne</h3>
        <p>Il faut se méfier des louanges prodiguées en abondance. </p>
      </div>
      <div>
        <h3>La tétragone = mauvais épinard</h3>
        <p>C'est pas bon, c'est de la tétragone! </p>
        <p>C'est mettre du beurre bordier dans la tétragone! </p>
      </div>
      <div>
        <h3>Sicut Detoyaus</h3>
        <p>Il ne reste rien. </p>
      </div>
    </div>
    <div class="expressions dauphine">
      <h2>Expressions Dauphinoises</h2>
      <div>
        <h3>Gougigne = personne dont la conduite est particulièrement lente</h3>
        <p>"Mais avaaannnnce, Gougigne!"</p>
      </div>
      <div>
        <h3>Tonche = bosse / Toncher = faire une bosse</h3>
        <p>"Minou, j'ai fait une tonche à la voiture!"</p>
      </div>
      <div>
        <h3>Brayer = Casser</h3>
        <p>"Arrête! Tu vas me le brayer!"</p>
      </div>
      <div>
        <h3>Être dans le bezet = être dans le pâté</h3>
        <p>"Oh, je suis dans le bezet ce matin!"</p>
      </div>
      <div>
        <h3>Être torse-nu dans les barblés (= barbelés)</h3>
        <p>"Oh, regarde le, il est torse-nu dans les barblés !"</p>
      </div>
      <div>
        <h3>Avoir le belu = avoir le blues</h3>
        <p>"Oh, j'ai le belu."</p>
      </div>
      <div>
        <h3>La jaja = L'alcool</h3>
        <p>"Je te remets un peu de jaja?"</p>
      </div>
    </div>
  </div>
</div>




