<%= content_for :meta_title, "Chez Gaullot" %>

<div class="home-links">
  <%= link_to "Recettes", categories_path, class: "nav-link explore-button button-white d-block d-sm-none" %>
  <%= link_to "Expressions", expressions_path, class: "nav-link explore-button button-white d-block d-sm-none" %>
</div>
