.button-white {
  background-color: $white;
  color: $black;
  font-weight: lighter;
  &:hover {
  color: $black;
  background-color: $white-transparent;
  text-decoration: none;
  }
}

.home-button {
  font-size: 15px;
  padding: 12px 28px;
  margin: 10px;
  border-radius: 5px;
}

.button-color {
  background-color: $light-gray;
  color: $black;
  // margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
  &:hover {
  color: $white;
  background-color: $white-transparent;
  text-decoration: none;
  }
}

.website-button {
  font-size: 14px;
  border-radius: 5px;
  padding: 6px 20px;
  margin-right: 10px;
  font-weight: lighter;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
    opacity: 0.8;
  }
}

.explore-button {
  font-size: 30px;
  border-radius: 5px;
  padding: 6px 20px;
  margin-right: 10px;
  font-weight: lighter;
  color: $black;
  &:hover {
    text-decoration: none;
    color: $black;
    opacity: 0.8;
  }
}

