.home-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px 0;
  text-align: center;
  background-color: $white-transparent;
  font-size: 12px;
  opacity: 0.8;
}

.website-footer {
  width: 100%;
  padding: 30px 0 20px 0;
  text-align: center;
  background-color: $white-transparent;
  font-size: 12px;
  opacity: 0.8;
}


footer p {
  margin: 0;
}

