.navbar-parent {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-cookbook {
  justify-content: space-between;
  align-items: center;
}

.navbar-cookbook .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  display: flex;
}

.icon {
  width: 30px;
}

.logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  // color: $white;
  &:hover {
    text-decoration: none;
    // color: $white;
  }
}

.logo-white {
  color: $white;
  &:hover {
    color: $white;
  }
}

.logo-black {
  color: $black;
  &:hover {
    color: $black;
  }
}

.cookbook-menu {
  display: flex;
}
