.navbar-parent {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-cookbook {
  justify-content: space-between;
}

.navbar-cookbook .navbar-collapse {
  flex-grow: 0;
}

.navbar-cookbook .navbar-brand img {
  width: 40px;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
  // color: $white;
  &:hover {
    text-decoration: none;
    // color: $white;
  }
}

.logo-white {
  color: $white;
  &:hover {
    color: $white;
  }
}

.logo-black {
  color: $black;
  &:hover {
    color: $black;
  }
}
