<div class="recipe-card">
  <%= link_to recipe_path(recipe) do %>
    <div class="recipe-image">
      <%#= cl_image_tag recipe.photo.key %>
      <div class="recipe-details">
        <h2><%= recipe.name %></h2>
        <p><%= recipe.prep_time %></p>
      </div>
    </div>
  <% end %>
</div>


