<%= content_for :meta_title, @category.name %>

<div class="website-header">
  <h1 class="index-title"><%= @category.name %></h1>
</div>
<div class="container">
  <div class="recipe-grid-wrapper">
  <% @recipes.each do |recipe| %>
    <%= render 'recipe', recipe: recipe %>
  <% end %>
  </div>
</div>

